.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.50);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer p {
    padding: 0 20px;
    font-size: 10px;
}