.QuantityEntryForm {
    padding: 10px;
}
.QuantityEntryForm .inputs {
    display: flex;
    justify-content: center;
}
.QuantityEntryForm input {
    width: 60px;
    padding: 6px;
    margin: 0 5px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: none;
    outline: none;
    background: none;
    text-align: center;
}
.QuantityEntryForm .label {
    margin-top: 10px;
    text-align: center;
}